<div class="products-list">
    <h1 class="title">Список товаров</h1>

    <mat-form-field>
        <mat-select #select placeholder="Группа" (selectionChange)="applyFilter($event.value)">
            <mat-option>Все</mat-option>
            <mat-option *ngFor="let group of groups" [value]="group">
                {{group}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort #table>
        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="group.name">
            <mat-header-cell *matHeaderCellDef> Группа </mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.group.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="product.name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Товар </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.product.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="product.price">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="title-price"> Цена </mat-header-cell>
            <mat-cell *matCellDef="let element" class="content-price">{{element.product.price}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: tableColumns;" (click)="selection.toggle(row)"></mat-row>
    </mat-table>

    <div class="buy">
        <button type="submit" class="add-button" (click)="addToCart()" [disabled]="">
            Добавить в корзину <i class="material-icons">add</i>
        </button>
    </div>
</div>