<h1>Список товаров</h1>

<mat-form-field>
    <mat-select #select placeholder="Группа" (selectionChange)="applyFilter($event.value)">
        <mat-option>Все</mat-option>
        <mat-option *ngFor="let group of groups" [value]="group">
            {{group}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort #table>
    <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="group">
        <mat-header-cell *matHeaderCellDef> Группа </mat-header-cell>
        <mat-cell *matCellDef="let product">{{product.group}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="productName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Товар </mat-header-cell>
        <mat-cell *matCellDef="let product"> {{product.productName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="productPrice">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Цена </mat-header-cell>
        <mat-cell *matCellDef="let product">{{product.productPrice}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>
</mat-table>